
.flexbox {
    display: flex;
    flex-wrap: nowrap;/*flexアイテムを折り返さない*/
    border: 1px solid #000;
    width: 50%;
    text-align: center;
  }
  
  .flex-item {
    background: orange;
    border: 1px solid #000;
    width: 25%;
  }
