.flexbox {
  display: flex;
  flex-wrap: wrap; /* flexアイテムを折り返すように変更 */
  justify-content: space-between; /* アイテム間のスペースを均等に配置 */
  width: 70;
  text-align: center;
  margin-bottom: 20px; /* 行ごとの余白（適宜調整） */
}

.item {
  flex-basis: calc(33.33% - 10px); /* 1行に3つまで表示するための幅調整 */
  margin-bottom: 10px; /* アイテムごとの余白（適宜調整） */
}
.kakunin{
  width: 308px;
  height: 54px;
  border-radius:30px;
  background-color: #0890F2;
  border-color:#0890F2 ;
  color: white;
  cursor: pointer;
  text-align: center;
}

.button1{
  width:fit-content;
  margin: 0 auto;
}