.ber{
    background-color: #D9D9D9;
    width:200px;
    height:2000px;
    margin: 0;
    position:absolute;
}
.icon1{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}
.main{
    text-align: center;
}
.table{
    margin-left: 300px;
    margin-right: auto;
}
.td1{
    width: 250px;
    background-color: #D9D9D9;
}
.td2{
    width: 800px;
    background-color: #D9D9D9;
}
.text_box{
    width: 750px;
}
.sarch{
    width: 232px;
    height: 43px;
    flex-shrink: 0;
    background-color: #E29B48;
    margin-top: 15px;
    margin-left: 1000px;
}
.item{
    width: 400px;
    height: 300px;
    margin-left: 200px;
}