.main {
  margin-top: 50px;
  overflow-y: auto; /* 縦方向にスクロール可能にする */
  height: 100vh; /* 画面の高さいっぱいに表示 */
  z-index: 1; /* 他の要素より手前に表示 */
}

.item {
  width: 100%;
  text-align: center;
}

.point {
  color: red;
}

.cartbutton, .homebutton {
  width: 308px;
  height: 54px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
}

.cartbutton {
  background-color: #E75D5D;
  border-color: #E75D5D;
  color: white;
}

.homebutton {
  background-color: #0890F2;
  border-color: #0890F2;
  color: white;
}
