@charset "utf-8";

h1{
    text-align: center; 
}
.box1{
    text-align: center;
}
.box2{
    text-align: center;
}
input.m{
    width:250px;
}
input.p{
    width:250px;
}

.btn{
    display: block;
    width: 60px;
    height: 10px;
    line-height:10px;
	margin: auto;
	padding: 1rem 4rem;
	border: 2px solid #D40505;
	background: #D40505;
	color: #fff;
	transition: 0.5s;
    justify-content:center;
    text-decoration: none;
    border-radius:30px;
	white-space :nowrap;
    text-align: center;
    position: absolute;
    bottom: 300px;
    left:90px;
}

.btn2{
    display: block;
    width: 60px;
    height: 10px;
    line-height:10px;
	margin: auto;
	padding: 1rem 4rem;
	border: 2px solid #0890F2;
	background: #0890F2;
	color: #fff;
	transition: 0.5s;
    justify-content:center;
    text-decoration: none;
    border-radius:30px;
	white-space :nowrap;
    text-align: center;
    position: absolute;
    bottom: 200px;
    left:90px;
}
