@charset "utf-8";

.log{
    text-align: center;
}

a.btn{
    width: 230px;
    height: 45px;
    flex-shrink: 0;
    line-height:10px;
	margin: auto;
	padding: 1rem 4rem;
    border-radius: 40px;
    background: #E85B5B;
	color: #fff;
    text-decoration: none;
   
}

a.btn2{
    width: 230px;
    height: 45px;
    flex-shrink: 0;
    line-height:10px;
	margin: auto;
	padding: 1rem 4rem;
    border-radius: 40px;
    background: #46B0FC;;
	color: #fff;
    text-decoration: none;
}
