header {
    position: fixed; /* Headerを固定する */
    top: 0; /* ページの上端に固定 */
    left: 0; /* ページの左端に固定 */
    width: 100%; /* ページ幅いっぱいに広げる */
    padding: 10px; /* 上下左右の余白 */
    z-index: 999; /* 他の要素よりも前面に表示 */
}


#search_all{
    text-align: center;
    width: 100%;
}

.search_box{
    text-align: center;
    background: #d0d0d0;
    width: 60%;
    height: 20px;
    position: relative; /* 相対位置指定 */
}

.conditions_img{
    position: absolute; /* 絶対位置指定 */
    background-color: rgb(218, 67, 21);
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

#conditions{

}


#title_output{
    text-align: center;
    width: 100%;
}


.sidebar {
    width: 0; /* 初期状態では非表示 */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(188, 187, 187);
    overflow-x: hidden;
    transition: 0.3s; /* トランジション時間 */
    z-index: 9999;
}


.sidebar p {
    margin-left: 10%;
}

.sidebar.open {
    width: 80%; /* 展開時の幅 */
}


#toggleButton{
    border-radius: 50%; /* 円形のボタン */
    width: 40px;
    height: 40px;
 /* 画像の白黒を反転 */
}

#closeButton{
    margin-top: 8px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 円形のボタン */
    filter: invert(100%); /* 画像の白黒を反転 */
}

#listButton{
    position: absolute;
    right: 18%;
    margin-top: 8px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
    filter: invert(100%); /* 画像の白黒を反転 */
}

#addButton{
    position: absolute;
    right: 5%;
    margin-top: 8px;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    filter: invert(100%); /* 画像の白黒を反転 */
}

/* カートメッセージを左配置 */
#cart_mess{
    text-align: left;
    margin-left: 20px;
    /* 位置height追加予定 */
}

/* 画像配置を少し離して左側 */
.img_product{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    margin-left: 10px;
}

#product_detail{
    background-color: #778c9c;
    position: absolute;
    text-align: center;
    top: 50%; /* 画面の中央に配置 */
    transform: translateY(-40%); /* 垂直中央揃え */
    width: 100%;
    height: 70%;
}

/* 続けるボタン */
.button_next{
    width: 75%;
    height: 50px;
    border-radius:30px;
    background-color: #0890F2;
    border-color:#0890F2 ;
    color: white;
    cursor: pointer;
}