/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search_all {
    text-align: center;
    width: 100%;
}

.search_box {
    text-align: center;
    background: #d0d0d0;
    width: 60%;
    height: 20px;
    position: relative;
}

.conditions_img {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

#conditions {
}

#title_output {
    text-align: center;
    width: 100%;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(188, 187, 187);
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 9999;
}

.sidebar p {
    margin-left: 10%;
}

.sidebar.open {
    width: 80%;
}

#toggleButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#closeButton {
    margin-top: 8px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: invert(100%);
}

#listButton {
    position: absolute;
    right: 18%;
    margin-top: 8px;
    margin-right: 2px;
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

#addButton {
    position: absolute;
    right: 5%;
    margin-top: 8px;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    filter: invert(100%);
}

#cart_mess {
    text-align: left;
    margin-left: 20px;
}

#title_output {
    text-align: center;
    width: 100%;
}

#product_detail {
    overflow-y: auto;
    max-height: 70vh;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.product {
    margin-bottom: 20px;
    text-align: left;
}

.img_product {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    float: left;
}

button.button_next {
    width: 75%;
    height: 40px;
    border-radius: 30px;
    background-color: #0890F2;
    border-color: #0890F2;
    color: white;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto;
}

#num_output {
    text-align: left;
    width: 100%;
}

#num_output p, #num_output h4 {
    margin: 0;
}

.button_reg {
    width: 75%;
    height: 40px;
    border-radius: 30px;
    background-color: #f27508;
    border-color: #ffffff;
    color: white;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 20px auto 0;
}

.in_cart{
    margin-left: 30px;
    
}