/* ページ全体に対するスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;

}

#menu_all{
    /* 要素指定の別方法考えとくwid,hei */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ヘッダーのスタイル */
header {
    background-color: #eaeaea;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* カテゴリーと価格のコンテナのスタイル */
.category, .price {
    margin: 5px;
    display: flex;
    align-items: center;
}

/* チェックボックスのスタイル */
.category input, .price input {
    margin-right: 10px;
}

/* チェックボックスのラベルのスタイル */
.category label, .price label {
    cursor: pointer;
}

/* チェックボックス選択時スタイル */
.category input:checked + label, .price input:checked + label {
    font-weight: bold;
    color: #007bff;
}

/* ページタイトルのスタイル */
h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 画像のスタイル */
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px; /* 画面上部からの余白を追加 */
}
