.ber{
  background-color: #D9D9D9;
  width:200px;
  height:750px;
  margin: 0;
  position:absolute;
}
.icon1{
  width: 40px;
  height: 40px;
  margin-top: 40px;
}

.main{
  text-align: center;
  line-height:95px;
  padding-top:75px;
  padding-right:600px;
  padding-block-start:100px;
}
a.link{
  color:black;
}