@charset "utf-8";

.main{
    text-align: center;
}
input.m{
    width:250px;
}
input.p{
    width:250px;
}

.btn{
    margin-top: 30px;
    width: 60%;
    height: 30px;
    border: 2px solid #fff;
    background: #f25a08;
	color: #fff;
    border-radius:30px;
}

.btn2{
    margin-top: 50px;
    width: 60%;
    height: 30px;
    border: 2px solid #0890F2;
    background: #0890F2;
	color: #fff;
    border-radius:30px;
}
