body{
    text-align: center;
}

#title{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    
}

.btn2{
    position: absolute;
    top: 80vh;
    width: 70%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius:50px;
    background-color: #0890F2;
    border-color:#0890F2 ;
    color: white;
    cursor: pointer;
    
}
