.ber{
    background-color: #D9D9D9;
    width:200px;
    height:1000px;
    margin: 0;
    position:absolute;
}
.icon1{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.main{
    text-align: center;
}
.table{
    margin-left: 300px;
    margin-right: auto;
}
.td1{
    width: 250px;
    background-color: #D9D9D9;
}
.td2{
    width: 800px;
    background-color: #D9D9D9;
}
.text_box{
    width: 750px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap; /* flexアイテムを折り返すように変更 */
    justify-content: space-between; /* アイテム間のスペースを均等に配置 */
    width: 70;
    text-align: center;
    margin-bottom: 10px; /* 行ごとの余白（適宜調整） */
    margin-left: 150px;
  }
  
  .item {
    flex-basis: calc(25% - 8px); /* 1行に3つまで表示するための幅調整 */
    margin-bottom: 10px; /* アイテムごとの余白（適宜調整） */
  }
.mei{
    margin-top: 0;
    margin-left: 25px;
}